.App {
  text-align: center;
}

a:link {
  color: #ef8c99;
}
a:visited {
  color: #ef8c99;
}

body {
  background-color: #252742;
}

footer {
  background-color: #864dd9;
  color: whitesmoke;
  margin-top: 3px;
}

h1,
h2 {
  color: #cf53f9;
}

h1 {
  font-size: 68px;
}

ul {
  list-style-type: none;
  color: #ef8c99;
  font-size: 19px;
  list-style-position: inside;
  padding-left: 0;
}

.SearchEngine {
  font-size: 30px;
}

.Searchbar {
  height: 40px;
  width: 500px;
  font-size: 30px;
  background-color: #7127ac;
  border: solid 3px #ef8c99;
  color: wheat;
}

.subtitle {
  padding: 0;
}
.current {
  height: 42px;
  font-size: 25px;
  padding-left: 15px;
  padding-right: 15px;
  background: #ef8c99;
  color: #7127ac;
  border: 2px solid #7127ac;
  border-radius: 20px;
  display: block;
  margin: 0 auto;
  margin-top: 30px;
}

.button {
  height: 42px;
  font-size: 30px;
  border: 2px solid #7127ac;
  color: #7127ac;
  background: #ef8c99;
}

.App-header {
  align-items: center;
  justify-content: center;
}
